.form {
  width: 480px;
  margin: 80px auto 0px;
  display: flex;
  flex-direction: column;
}
.title {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
}
.input {
  margin-bottom: 24px;
}
.button {
  margin: 0px auto;
  margin-bottom: 80px;
}
.button:focus {
  box-shadow: 0px 0px 20px #4C4CFF;
}
.redirect {
  text-align: center;
  margin-bottom: 16px;
  color: #8585AD;
}
.redirect:last-of-type {
  margin-bottom: 0px;
}
.redirect a {
  padding-left: 8px;
  text-decoration: none;
  color: #4C4CFF
}