.card {
  width: 520px;
  margin: 50px auto;
}
.id {
  text-align: center;
  font-size: 9em;
  margin: 0px;
  font-family: 'Iceland';
  text-shadow: #4C4CFF 1px 0 10px;
}
.title {
  text-align: center;
}
.status {
  width: 80px;
  height: 80px;
  margin: 50px auto;
}
.statusWrapper {
  position: relative;
  border: 1px solid #3939c3;
  background-color:  #3939c3;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.orderFailed {
  text-align: center;
}
.statusWrapper > svg {
  position: absolute;
  left: 20%;
  top: 20%;
}
.message {
  text-align: center;
}
.subMessage {
  text-align: center;
  color: #8585AD;
}