@font-face {
  src: url(../src/assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
  font-family: 'Jet Brains Mono';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(../src/assets/fonts/JetBrainsMono-Regular.woff) format('woff');
  font-family: 'Jet Brains Mono';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(../src/assets/fonts/JetBrainsMono-Bold.woff2) format('woff2');
  font-family: 'Jet Brains Mono';
  font-weight: bold;
  font-display: swap;
}

@font-face {
  src: url(../src/assets/fonts/JetBrainsMono-Bold.woff) format('woff');
  font-family: 'Jet Brains Mono';
  font-weight: bold;
  font-display: swap;
}

@font-face {
  src: url(../src/assets/fonts/iceland.woff2) format('woff2');
  font-family: 'Iceland';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(../src/assets/fonts/iceland.woff) format('woff');
  font-family: 'Iceland';
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #131316;
  color: #F2F2F3;
  font-family: 'Jet Brains Mono', Arial, sans-serif;
}
